doctype html
html(lang='fr')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='../assets/css/main.css')
    link(rel="stylesheet", href="../assets/css/style.css")
    script(src='../assets/js/script.js')
      function getValueSelect(select_id)
        var select = document.getElementById(select_id);
        var options = select.getElementsByTagName('option');
        return options[select.selectedIndex].text;
        
  body
    div#wrapper
    

      div#header
        div.top
          div#logo
            span.image.avatar48
              img(src='images/avatar.jpg', alt='')
            h1#title Music JS
          nav#nav
            ul
              li
                a(href='/', id='top-link', class='icon fa-home') &nbsp;Accueil
            ul
              li
                a(href='/offre', id='top-link', class='icon fa-list') &nbsp;Liste des offres
            ul
              li
                a(href='/figurant', id='top-link', class='icon fa-list') &nbsp;Liste des figurants
            ul
              li
                a(href='/candidature', id='top-link', class='icon fa-list') Liste de candidature
                  
            
        .bottom
    
      block content

           

      div#footer            
        ul.copyright               
          li &copy; Untitled. All rights reserved.               
          li Design:                   
            a(href="http://html5up.net") HTML5 UP

    script(src='/assets/js/jquery.min.js')         
    script(src='/assets/js/jquery.scrolly.min.js')         
    script(src='/assets/js/jquery.scrollzer.min.js')         
    script(src='/assets/js/skel.min.js')         
    script(src='/assets/js/util.js')         
    script(src='/assets/js/main.js')
